# Ignore large datasets
datasets/processed/updated_engineered_features_with_provinces.csv
# Ignore Python cache and virtual environment
__pycache__/
*.pyc
venv/
# Ignore service account
service_account.json
# Ignore service account toml file.
.streamlit/secrets.toml
